@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    color: white;
    width: 100vw;
    height: 90px;
    padding: 20px;
}
header > h1{
    text-align: center;
    padding-bottom: 20px;
    
}
menu ul {
    padding-top: 30px ;
    list-style: none;
    position: absolute;
    top: auto;
    left: 50%;
  transform: translate(-50%, -50%);
}
menu > ul > li {
    display: inline-block;
    margin-left: 15px;
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
   
}
li:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
article {
   max-width: 500px;
    margin: auto;
}